:root {
  --drone-dark-color: #0f1a1b;
  --drone-light-color: #057fdd;
  --drone-fly-time: 1.5s;
}

.drone-animate-box-1 {
  position: absolute;
  animation: fly var(--drone-fly-time) ease-in-out infinite 0s;
}

.drone-animate-box-2 {
  position: absolute;
  animation: fly var(--drone-fly-time) ease-in-out infinite 0.2s;
}

.drone-animate-box-3 {
  position: absolute;
  animation: fly var(--drone-fly-time) ease-in-out infinite 0.4s;
}

.drone-animate-box-4 {
  position: absolute;
  animation: fly var(--drone-fly-time) ease-in-out infinite 0.6s;
}

.drone-animate-box-5 {
  position: absolute;
  animation: fly var(--drone-fly-time) ease-in-out infinite 0.8s;
}

.droneBody {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 6vh;
  border-radius: 10%;
  margin: 0 auto;
  border: 1vh solid var(--drone-dark-color);
  background-color: var(--drone-dark-color);
}

.bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.25vh;
  width: 16vh;
  border-radius: 10%;
  background-color: var(--drone-light-color);
  transform: rotateZ(180deg);
}

.verticalBar {
  height: 4vh;
  width: 1.25vh;
  border-radius: 40%;
  background-color: var(--drone-dark-color);
  transform: rotateZ(180deg);
}

.blade {
  height: 0.5vh;
  width: 6vh;
  background-color: var(--drone-light-color);
  animation: blade-rotate 0.2s linear infinite;
}

@keyframes blade-rotate {
  0% {
    transform: translateX(-2.25vh) rotateX(0deg);
  }
  100% {
    transform: translateX(-2.25vh) rotateX(360deg);
  }
}

@keyframes fly {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}
