.mainHeader {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 20px;
  height: 60px;
}

.title {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.navContainer {
  flex-grow: 1;
  height: 100%;
}

.navToggleContainer {
  display: flex;
  height: 100%;
  align-items: center;
}
