.main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.cardContainer {
  width: 100%;
  margin: 5rem 2rem;
  display: grid;
  grid-gap: 5rem;
  align-content: center;
}

@media only screen and (min-width: 1000px) {
  .cardContainer {
    grid-template-columns: 30rem 30rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .cardContainer {
    width: 80%;
    grid-template-rows: auto auto;
  }
}

.work {
  height: 35rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 1%;
  box-shadow: 1rem 0.5rem 5rem 0.1rem rgba(0, 0, 0, 0.26);
}

.infoText {
  height: 5rem;
  font-size: 1.5rem;
}
