.titleText:hover {
  color: var(--main-light-color);
  cursor: pointer;
}

.titleText {
  height: 100%;
  display: flex;
  align-items: center;
}

.navLink {
  height: 100%;
}

.navLink a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
  height: 100%;
}
